# Ignore Python virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor config
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Secrets
.env
